.logo {
  width: 4rem;
  height: 4rem;
  margin: 0;
  transition: .2s ease-out;
  filter: invert(0%) sepia(5%) saturate(7453%) hue-rotate(349deg) brightness(88%) contrast(101%);
}

.logo:hover {
  cursor: pointer;
  filter: invert(40%) sepia(56%) saturate(2662%) hue-rotate(310deg) brightness(100%) contrast(105%);
}
