.button {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 3);
  white-space: nowrap;
  background: var(--background-content);
  margin: 0;
  transition: border 0.2s ease-out;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.button,
.address {
  color: var(--font-color-text);
}

.connect {
  color: var(--brand-pink);
}

.address {
  text-transform: none;
  border-right: 1px solid var(--border-color);
  padding-right: calc(var(--spacer) / 3);
  padding-left: calc(var(--spacer) / 8);
}

@media screen and (min-width: 60rem) {
  .address {
    display: inline-block;
  }
  
  .blockies {
    margin-right: calc(var(--spacer) / 6);
  }
}

.status {
  margin-left: calc(var(--spacer) / 4);
  position: relative;
  top: 1px;
}

.caret,
svg.caret {
  display: none;
  width: var(--font-size-small);
  height: var(--font-size-small);
  fill: var(--brand-pink);
  transition: transform 0.2s ease-out;
  vertical-align: middle;
  margin-left: calc(var(--spacer) / 4);
}

[aria-expanded='true'] .caret {
  transform: rotate(180deg);
}

.caret {
  fill: var(--brand-pink);
  opacity: 0.7;
  width: var(--font-size-mini);
  height: var(--font-size-mini);
  margin-left: calc(var(--spacer) / 4);
}

@media screen and (min-width: 42rem) {
  .caret,
  svg.caret {
    display: inline-block;
  }
}

@media only screen and (max-width: 500px) {
  .button.initial span {
    display: inline;
    margin-left: 0.2rem;
  }

  .button {
    width: 225px;
    margin-right: 0;
    padding: 10px 30px;
    min-height: 40px;
    background: #eaeaea;
    color: black;
    border-radius: 5px;
  }

  .address {
    color: #212529;
    font-family: "Urbanist-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .caret {
    width: 20px;
    height: 20px;
    display: block;
  }

  .transparent{
    border: 0;
    outline: 0;
    padding: 0;
    display: inline-block;
    background: 0;
    box-shadow: none;
    cursor: pointer;
    min-width: auto;
  }
}